---
import SignupForm from '../components/SignupForm';
---
<html>
  <head>
    <title>Sign Up | Tetrix</title>
  </head>
  <body>
    <main class="min-h-screen flex items-center justify-center bg-gray-50">
      <SignupForm />
    </main>
  </body>
</html> 